/* GENERAL SETUP */

html, body{
    margin: 0 auto;
    padding: 0;
}

html {
    font-size: 14px;
    font-family: Roboto, sans-serif;
    background-image: url(./assets/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

body{
    height: 100vh;
    width: 100vw;
    margin: auto;
    line-height: 1.75;
}

/* HEADER LAYOUT */

nav {  
    height: 50px;
    width: 100vw;
}

nav ul {
    display: flex;
}

nav li {
    list-style-type: none;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

nav a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#logo {
    height: 41px;
    float: left;
}

#kast-logo {
    margin: auto;
    text-align: left;
    flex: auto;
    
}

#open {
    text-transform: uppercase;
    border-radius: 1px;
    border-style: solid;
    border-width: 0.8px;
    margin-right: 35px;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 15px;
    margin-left: 40px;
    padding: 0.4px 9px;
    letter-spacing: 1.5px;
}

.arrow {
    border: solid white;
    border-width: 0px 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin-left: 10px;
    margin-bottom: 4px;
    margin-right: 40px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* MAIN LAYOUT */

h1{
    font-size: 41px;
    font-weight: bold;
}

.welcoming-div{

    width: 100vw;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 90px;
    line-height: 1.5;

}

.welcoming-div ul {
    display: flex;
    flex-direction: column;
}

.welcoming-div li {
    list-style-type: none;
    text-align: center;
    flex: 1;
    color: white;
    margin-top: 10px;
    line-height: 24px;
}

#laptop {

    height: 330px;
    width: auto;
}

p {
    font-size: 18px;
    margin: auto;
    margin-bottom: 50px;
}

#login-page{
    color: white;
    background-color: #fe9000;
    text-decoration: none;
    padding: 10px 40px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;
    font-size: 16px;
    letter-spacing: 1.5px;
    
}

.cybersale-div {

    background-color: white;
    color: #434146;

}

h2 {
    margin: auto;
    margin-top: 40px;
    font-size: 42px;
    line-height:60px;
    text-align: center;
    width: 60vw;
    padding-top: 100px;
    margin-bottom: 25px;
    font-weight: bold;
}

.cybersale-div ul {
    display: flex;
    width: 70vw;
    margin: auto;
}

.cybersale-div li {
    list-style-type: none;
    text-align: center;
    flex: 0.8;
}

.cybersale-div img{
    height: 90px;
}

h3 {
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
}

#learn-more {
    color: #fe9000;
    text-decoration: none;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 100vw;
    font-size: 13px;
}

#buttons {
    flex-direction: column;
    align-content: space-around;
    height: 80px;
}

#membership{
    color: white;
    background-color: #fe9000;
    text-decoration: none;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;
    font-size: 15px;
    letter-spacing: 1.25px;
}