/* GENERAL SETUP */

html, body {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.section1 {
    background-image: url(https://kastapp.co/images/gradient-violet-bg.jpg);
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}





/* HEADER LAYOUT */

header {
    /* margin-bottom: 10px; */
    color: white;
    font-weight: bold;
    font-size: 1rem;
    flex: 1;
}

/* header, nav, section, main, article, aside, footer {
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 1%;
} */

nav {
    position: absolute;
    width: 750px;
    height: 30px;
    right: 20px;
    top: 15px;
}
nav ul {
    display: flex;
}

nav li {
    list-style-type: none;
    text-align: center;
    flex: 6;
    font-size: 1rem;
    /* text-transform: uppercase; */
}

.section1 img {
    margin-top: 10px;
    margin-left: 15px;
}


/* MAIN LAYOUT */

main div {
    text-align: center;
}

.div1 {
    width: 1000px;
    margin: auto;
}

.div1, h1 {
    font-size: 3rem;
}

.div1, p {
    width: 590px;
    font-size: 1.51rem;
}



.div2 {
    width: 1000px;
    height: 500px;
    margin: auto;
}

.div2 header {
    width: 1000px;
    height: 150px;
    text-align: center;
}

.section2 h1 {
    font-size: 3rem;
    color: rgb(44, 44, 44);
}

.div2 p {
    font-size: 1rem;
    color: rgb(44, 44, 44);
    text-align: center;
}
#button1 {
    background-color: orange;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    width: 225px;
    height: 50px;
    border: none; 
    border-radius: 2px;
}

.div2 {
    display: flex;
}




/* main {
    display: flex;
}

section, article {
    flex: 5;
    section and article will take up 80% of the viewport (4/(4+1))=80%
}

section img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

main h1 {
    position: absolute; 
    top: 500px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 4rem;
    font-weight: bold;
}

main p {
    position: absolute; 
    top: 510px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 2rem;
    font-weight: bold;
} */

/* FOOTER */
footer {
    margin-top: 10px; 
}


